body {
    background-color: green;  
    font-size: 30pt; 
}

.wrap {
width: 40%;
margin-left: auto;
margin-right: auto;
}

.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 35%;
    height: 45%;

}

.card-red {
    color: red;
}

.card-black {
    color: black;
}
.card-header, .card-footer {
    background: white;
    border-left: 2px black solid;
    border-radius: 3em;
}

.card-body {
   font-size: 45pt;
}

.cardDown {
    transform: rotate(180deg);
}

.heart{

}

.club {

}

.spade {

}

diamond {
    
}