body {
    background-color: grey;  
    font-size: 30pt; 
}

.wrap {
width: 40%;
margin-left: auto;
margin-right: auto;
}

.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 35%;
    height: 45%;
    background: linear-gradient(to top, black, cyan);
    border-color: darkorange;
    border-width: 2px;
    border-style: groove;
    
}
.card-red {
    color: red;
}

.card-black {
    color: black;
}
.card-header, .card-footer {
    background: white;
    border-left: 2px darkorange solid;
    background: transparent;
    border-bottom: 0;
    
}

.card-body {
   font-size: 45pt;
   border-color: darkorange;;
}

.cardDown {
    transform: rotate(180deg);
    border-color: darkorange;
    border-top: 0;
}

.mybtn {
    margin-top: 2em;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid darkorange;
}

.efecto-espejo {
    -webkit-box-reflect: below -25px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(73, 161, 33, 0.5)));
   }